DATABASE_URL=postgresql://postgres:postgres@postgres:5432/divina
REDIS_URL=redis://redis:6379
JWT_SECRET=supersecret
API_PORT=4000
WEB_PORT=3000
WORKER_PORT=4100
NEXT_PUBLIC_API_URL=http://localhost:4000
